// 輪播圖
.slider {
    @extend %transition;
    position: relative;
    overflow: hidden;
    background: url(../images/img_slider.jpg) no-repeat center/cover;
    padding-top: 10%;
    padding-bottom: 10%;
    @include mw_xs{
        padding-top: 30%;
        padding-bottom: 30%;
    }

    // .slider__img
    &__img {
        @include d_f(flex, 0, 0);
        margin: auto;

        img {
            object-position: 25%;
        }

        @include mw_xs {
            @include pos_a(tbl, 0);
        }
    }

    // .slider__info
    &__info {
        li{
            @extend %title;
            @extend %txtshadow;
            @include pos_a(trbl, 0);
            @include d_f(flex, center, center);
            color: map-get($txt_color, secondary);
            margin: auto;
            opacity: 0;
            z-index: 2;
            transform: translate3d(0, 10%, 0);
            transition: .5s;

            &.--active{
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition: 1s;
            }
        }
    }
    h2{
        font-size: 4vw;
        font-weight: 700;
        color: map-get($txt_color, white);
        margin: 110px 0;
        text-shadow: 2px 2px #000;
        @include mw_xs{
            font-size: 32px;
            margin: 0;
        }
    }
    span{
        display: block;
    }
}



// 關於我們
.about {
    @include d_f(flex, center, space-between);
    flex-wrap: wrap;
    overflow: hidden;
    background: map-get($bg_color, secondary) url(../images/img_about.png) right/cover no-repeat;
    color: map-get($txt_color, white);
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    @include mw_xs{
        background: map-get($bg_color, secondary);
    }

    // .about__title
    &__title{
        @extend %title;
        margin-bottom: 32px;
        text-align: left;
        color: map-get($txt_color, white);
    }

    // .about__img
    &__img {
        position: relative;
        width: calc(40% - 64px);
        height: 20vw;
        background: url(../images/img_about_pc.png) no-repeat right bottom / contain;

        @include mw_xs {
            width: 100%;
            height: 50vw;
            background-position: center bottom;
            margin-bottom: 64px;
        }

        span {
            display: block;
        }

        .pad {
            @include pos_a(br, -5%, -5%);
            width: 40%;

            @include mw_xs {
                bottom: -10%;
                right: 0;
            }
        }

        .ph {
            @include pos_a(rbl, 0, -10%, 0);
            width: 15%;
            margin: auto;

            @include mw_xs {
                left: 20%;
                right: auto;
            }
        }
    }

    // .about__txt
    &__txt {
        width: 50%;
        text-shadow: 0 0 5px map-get($txt_color, shadow);

        @include mw_xs {
            width: 100%;
        }

        li {
            line-height: 28px;
            font-size: 20px;

            @include mw_sm {
                font-size: 16px;
            }

            &+li{
                margin-top: 32px;
            }
        }
        a{
            display: inline-block;
            position: relative;
            color: map-get($txt_color, primary);
            text-shadow: none;

            @include hoverHandler{
                &::before{
                    width: 100%;
                }
            }
        }
        a:before{
            @extend %transition;
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 1px;
            background: map-get($bg_color, black);
        }
    }
}



// 產品
.product{
    background: map-get($bg_color, gray);
    // .product__title
    &__title{
        @extend %title;
        color: map-get($txt_color, secondary);
        margin-bottom: 70px;
    }
    // .product__list
    &__list{
        @include d_f(flex, 0, 0);
        flex-wrap: wrap;
        @include mw_custom(max, 480px){
            justify-content: center;
        }
    }
    // .product__item
    &__item{
        @extend %hand;
        position: relative;
        width: 22%;
        padding: 20px 20px 70px;
        border-radius: 8px;
        margin: 0 10px 40px;
        background: map-get($bg_color, primary);
        

        @include mw_custom(min, 1600px){
            width: calc(100% / 5 - 20px);
        }
        @include mw_sm{
            width: calc(100% / 3 - 20px);
        }
        @include mw_xs{
            width: calc(100% / 2 - 20px);
        }
        @include mw_custom(max, 480px){
            width: calc(100% - 20px);
        }

        &::after{
            @extend %transition;
            @include pos_a(trbl, 0);
            content: '';
            margin: auto;
            border: 3px solid transparent;
            border-radius: 5px;
        }

        @include hoverHandler {
            &::after{
                border-color: #B78959;
            }
        }

        .tag_vendor{
            position: absolute;
            top: 20px;
            left: 0;
            padding: 5px 10px;
            background: #bac0c9;
            font-size: 14px;
        }
        .tag_awaiting{
            position: absolute;
            top: 20px;
            right: 0;
            padding: 5px 10px;
            color: map-get($txt_color, white);
            background: map-get($bg_color, secondary);
            font-size: 14px;

            display: none;
        }
        .item{
            // .item__img_box
            &__img_box{
                @include d_f(flex, center, center);
                height: 170px;
                margin-bottom: 10px;
            }
            // .item__img
            &__img{
                display: block;
                width: 100%;
            }
            // .item__title
            &__title{
                font-size: 16px;
                color: map-get($txt_color, secondary);
                font-weight: 700;
            }
            // .item__list
            &__list{
                font-size: 14px;
                padding: 10px 0;
                li{
                    position: relative;
                    margin-bottom: 10px;
                    padding-left: 40px;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: 10px;
                        background: url(../images/icon_rackmount.svg) center/contain no-repeat;
                    }
                    &.rack:before{
                        width: 15px;
                        height: 15px;
                        left: 14px;
                    }
                    &.cpu:before{
                        width: 20px;
                        height: 20px;
                        background-image: url(../images/icon_cpu.svg);
                    }
                    &.ram:before{
                        width: 20px;
                        height: 8px;
                        background-image: url(../images/icon_ram.svg);
                    }
                    &.psu:before {
                        width: 20px;
                        height: 13px;
                        background-image: url(../images/icon_psu.svg);
                    }
                }
                code{
                    color: #BAC0C9;
                }
            }
            // .item__price
            &__price{
                display: block;
                font-size: 18px;
                color: map-get($txt_color, secondary);
                text-align: center;
                margin-bottom: 15px;
            }
            // .item__btn
            &__btn{
                @include pos_a(rbl, 0, 20px, 0);
                display: block;
                width: 55%;
                margin: auto;
                color: map-get($txt_color, white);
                background: linear-gradient(to right, #86521b 0%, #e8c298 100%);
                border-radius: 8px;

                @include hoverHandler{
                    background: linear-gradient(to left, #86521b 0%, #e8c298 100%);
                }
                a{
                    display: block;
                    padding: 15px 0;
                }
            }
        }
    }
}

// 方案
.solution {
    background: map-get($bg_color, secondary);
    // .solution__title
    &__title {
        @extend %title;
        color: map-get($txt_color, white);
    }
    // .solution__sub_title
    &__sub_title{
        font-size: 24px;
        font-weight: 700;
        color: map-get($txt_color, darkblue);
        text-align: center;
        margin: 36px 0 18px;
        @include mw_xs{
            margin: 20px 0 10px;
        }
    }
    // .solution__txt
    &__txt{
        font-size: 18px;
        color: map-get($txt_color, darkblue);
    }
    // .solution__list
    &__list{
        @include d_f(flex, 0, space-between);
        flex-wrap: wrap;
    }
    // .solution__item
    &__item{
        height: 100%;
        position: relative;
        padding: 100px 20px 30px;
        color: map-get($txt_color, white);
        border-radius: 8px;
        background: linear-gradient(to bottom, #050E29 0%, #141D38 100%);
        // .solution__item__img
        &__img_bg {
            position: absolute;
            top: -50px;
            left: 0;
            right: 0;
            width: 100px;
            height: 100px;
            margin: auto;
            border-radius: 50%;
            background: linear-gradient(to bottom, #86521B 0%, #E8C298 100%);
            @include d_f(flex, center, center);
        }
        // .solution__item__img
        &__img{
            width: 60px;
            height: 60px;
        }
        // .solution__item__title
        &__title{
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
            font-weight: 700;
        }
        // .solution__item__txt
        &__txt{
            font-size: 16px;
            line-height: 24px;
        }
    }
}


.contact {
    background: url(../images/img_contact.jpg) no-repeat center / cover;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 5%;
    @include mw_custom(min, 1600px){
        padding-top: 8%;
        padding-bottom: 8%;
    }
    @include mw_xs{
        padding-top: 8%;
        padding-bottom: 8%;
    }

    // .contact__title
    &__title {
        @extend %title;
        color: map-get($txt_color, lightgray);
        font-size: 40px;
        margin-bottom: 16px;
        @include mw_sm{
            font-size: 24px;
        }
    }

    // .contact__address
    &__address {
        position: relative;
        text-align: center;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 40px;
            margin: auto;
            width: 300px;
            height: 1px;
            background: #EAEAEA;
        }
        i{
            width: 70px;
            height: 70px;
            margin-bottom: 20px;
        }
        code{
            display: block;
            text-align: center;
            font-size: 24px;
            color: map-get($txt_color, white);
            margin-bottom: 32px;
            @include mw_xs{
                margin-bottom: 16px;
            }
        }

    }

    // .contact__item
    &__item {
        @include d_f(flex, center, center);
        flex-wrap: wrap;
        @include mw_xs {
            flex-direction: column;
        }

        li {
            @include d_f(flex, center, 0);

            &:first-child{
                width: 100%;
                justify-content: center;
                margin-bottom: 24px;
                @include mw_xs{
                    margin-bottom: 18px;
                }
            }
            &:last-child {
                margin-left: 50px;
                @include mw_xs{
                    margin-left: 0;
                }
            }
            &+li{
                @include mw_xs {
                    margin-top: 16px;
                }
            }
        }

        a {
            @include d_f(flex, center, 0);

            @include mw_sm {
                flex-direction: column;
            }

            @include hoverHandler {
                opacity: .5;
            }
        }

        code {
            color: map-get($txt_color , white);
            white-space: nowrap;

            @include mw_lg{
                font-size: 12px;
            }

            @include mw_sm {
                text-align: center;
                white-space: normal;
            }
        }

        i {
            position: relative;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            filter: brightness(2);

            @include mw_sm {
                width: 30px;
                height: 30px;
                margin: 0 0 16px;
            }
        }
    }

    // .contact__link
    &__link {
        @include d_f(flex, center, center);
        padding: 48px 0 24px;

        li {
            margin: 0 24px;
        }

        i {
            width: 30px;
            height: 30px;

            @include hoverHandler {
                transform: scale(1.5);
            }
        }
    }

    h1 {
        color: map-get($txt_color, black);
        pointer-events: none;
        text-align: center;

        &::after {
            color: map-get($txt_color, primary);
        }
    }

}

// 資訊連結
.link{
    @extend %transition;
    background: map-get($bg_color, gray);
    overflow: hidden;

    // .link__item
    &__item{
        @include d_f(flex, 0, 0);
        flex-wrap: wrap;

        li{
            width: calc(100% / 4);
            filter: grayscale(1);
            text-align: center;
            margin-bottom: 24px;

            &:last-child,
            &:nth-last-child(2){
                margin-bottom: 0;
            }

            @include mw_sm {
                width: calc(100% / 2);
            }
            

            @include hoverHandler{
                filter: grayscale(0);
            }
        }

        a{
            display: block;
            width: 100%;
            height: 100%;
        }

        img{
            width: 80%;
        }
    }
}
